extends layout/main-layout.pug
block content
    +createPostForm(userLoggedIn)
    .postsContainer
    +createPostModal(userLoggedIn)
block follow 
    .who_to_follow
        .who_to_follow_block
            .who_to_follow_heading
                | Who to follow
        .who_to_follow_block
            .resultsContainer
block scripts
    script(src="/js/home.js") 