extends layout/main-layout.pug

block content    
    .resultsContainer
block headerButton
    a(href='/messages/new')
        i.fa-sharp.fa-solid.fa-plus
block scripts 
    script(src="/js/messagePage.js") 

