extends layout/main-layout.pug

block content    
    .chatPageContainer 
        .chatTitleBar 
            label(for="userSearchTextbox") To: 
            #selectedUsers 
                input#userSearchText(type="text", placeholder="Type the person's name you want to send message")
                //.selectedUser
    .resultsContainer
    button#createChatButton(disabled) Create Chat
