:root{
    --blue: #00a2f5;
    --hoverbutton: #d4edff;
    --lightgray: #e6ecf0;
    --spacing: 15px;
    --lightblue:#9BD1F9;
    --backgroundblue:rgba(212,237,255,0.6);
    --graytext:#657786;
    --graybuttontext: rgba(0,0,0,0.34);
    --red: #e2225f;
    --backgroundred: rgba(226,34,94,0.1);
    --green: #17bf63;
    --backgroundgreen:rgba(23,191,99,0.1);
}
*{
    outline: none !important;
}
h1{
    font-size: 19px;
    font-weight: 800;
    margin: 0;
}
a{
    color: inherit;

}
a:hover{
    color: inherit;
    text-decoration: none;
}
nav a.brand{
    color: var(--blue);
}
nav a:hover{
    background-color: var(--hoverbutton);
    color: var(--blue);
    border-radius: 50%;
}
.wrapper > .row{
    margin: 0;
}
button{
    background-color: transparent;
    border: none;
    color: var(--graybuttontext);
}
button i,
button span{
    pointer-events: none;
}
nav{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 100%;
}
nav a{
    padding: 10px;
    font-size: 30px;
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#212529;
}
.mainSectionContainer{
    padding: 0;
    border-left: 1px solid var(--lightgray);
    border-right: 1px solid var(--lightgray);
    display: flex;
    flex-direction: column;
}
.titleContainer{
    height: 53px;
    padding: 0 var(--spacing);
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--lightgray);
    flex-shrink: 0;
}
.titleContainer h1{
    flex: 1;
}
.postFormContainer{
    display: flex;
    padding: var(--spacing);
    border-bottom:10px solid var(--lightgray);
    flex-shrink: 0;
}
.modal .postFormContainer{
    border: none;
    padding: 0;
    padding-top: var(--spacing);
}
.modal .post{
    padding: 0 0 var(--spacing) 0;
}
.userImageContainer{
    width: 50px;
    height: 50px;
}
.userImageContainer img{
    width: 100%;
    border-radius: 50%;
    background-color: white;
}
.textareaContainer {
    flex:1;
    padding-left: var(--spacing); 
}
.textareaContainer textarea{
    width: 100%;
    border: none;
    resize: none;
    font-size: 19px;
}
#submitPostButton{
    background-color: var(--blue);
    color: #fff;
    border: none;
    border-radius: 40px;
    padding: 7px 15px;
}
#submitPostButton:disabled{
    background-color: var(--lightblue) ;
}
.post{
    display: flex;
    flex-direction: column;
    padding: var(--spacing);
    cursor: pointer;
    border-bottom: 1px solid var(--lightgray);
    flex-shrink: 0;
}
.mainContentContainer{
    flex: 1;
    display: flex;
}
.postContentContainer{
    padding-left: var(--spacing);
    display: flex;
    flex-direction: column;
    flex: 1;
}
.username,
.date{
    color: var(--graytext);
}
.displayName{
    font-weight: bold;
}
.postFooter{
    display: flex;
    align-items: center;
}
.postFooter .postButtonContainer{
    flex: 1;
    display: flex;
}
.postFooter .postButtonContainer button{
    padding: 1 10px;
}
.header a:hover{
    text-decoration: underline;
}
.header span{
    padding-right: 5px;
}
.postButtonContainer button:hover{
    background-color: #d4edff;
    color: var(--blue);
    border-radius: 50%;
}
.postButtonContainer.red button.active{
    color: var(--red);
}
.postButtonContainer.red button:hover{
    color: var(--red);
    background-color: var(--backgroundred);
}
.postButtonContainer.green button.active{
    color: var(--green);
}
.postButtonContainer.green button:hover{
    color: var(--green);
    background-color: var(--backgroundgreen);
}
.postActionContainer{
    padding-left: 35px;
    font-size: 13px;
    color: var(--graytext);
    margin-bottom: 5px;
}
.replyFlag{
    margin-bottom: 5px;
}
.replyFlag a{
    color: var(--blue)
}
.post.largeFont .postBody,
.post.largeFont .postFooter{
    font-size: 23px;
}
.postContentContainer .header{
    display: flex;
}
.postContentContainer .header .date{
    flex:1;
}
.errorMessage{
    padding: var(--spacing);
}
.profileHeaderContainer .coverPhotoContainer{
    height: 180px;
    background-color: var(--blue);
    position: relative;
}
.profileHeaderContainer .userImageContainer{
    height: 132px;
    width: 132px;
    margin-left: var(--spacing);
    position: absolute;
    bottom: -66px;
}
.profileHeaderContainer .userImageContainer img{
    border: 4px solid #fff; 
}
.profileHeaderContainer .profileButtonContainer{
    text-align: right;
    padding: var(--spacing);
    min-height: 66px;
} 
.profileButton,
.followButton{
    border:  1px solid var(--blue);
    color: var(--blue);
    font-weight: bold;
    padding: 5px 15px;
    border-radius: 60px;
    display: inline-block;
    margin-left: var(--spacing) ;
}
.profileButton:hover,
.followButton:hover {
    background-color: var(--backgroundblue);
}
.followButton.following{
    background-color: var(--blue);
    color: #fff;
}
.profileHeaderContainer .userDetailsContainer{
    display: flex;
    flex-direction: column;
    padding: 0 var(--spacing);
}
.followersContainer .value {
    font-weight: bold;
    margin-right: 5px;
}
.followersContainer span:not(.value) {
    color: var(--graytext);
}
.followersContainer a {
    margin-right: 15px;
}
.followersContainer a:hover {
    border-bottom: 1px solid #000;
}
.tabsContainer {
    display: flex;
    border-bottom: 1px solid var(--lightgray);
    flex-shrink: 0;
}
.tab {
    flex:1;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--graytext);
    font-weight: bold;
}
.tab.active{
    color:var(--blue);
    border-bottom: 2px soli var(--blue);
}
.tab:hover{
    color: var(--blue);
    background-color: var(--backgroundblue);
}
.followersContainer a .value{
    margin-right: 5px;
}
.noResult{
    padding: var(--spacing);
}
.resultsContainer{
    display: flex;
    flex-direction: column;
}
.resultsContainer .user{
    padding: var(--spacing);
    display: flex;
    border-bottom: 1px solid var(--lightgray);
}
.user .userDetailsContainer{
    flex: 1;
    padding: 0 var(--spacing);
    display: flex;
    justify-content: space-between;
}
.userDetailsContainer .header{
    display: flex;
    flex-direction: column;
}
/* .userDetailsContainer .description{
    color: #000;
} */
.trend_for_you {
    border-radius: 15px;
    background: #f5f8fa;
    margin-bottom: 15px;
}
.trend_for_you_block {
    border-bottom: 1px solid #e6ecf0;
    padding: 10px 15px;

}
.trend_for_you_block:last-child {
    border-bottom: none;

}
.trend_for_you_block:hover {
    background: rgba(0,0,0,0.03);
    cursor: pointer;
}
.trend_for_you_heading {
    font-size: 19px;
    font-weight: bold;
    color: #14171a;
}
.trend_for_you_meta_information {
    font-size: 13px;
    font-weight: 300;
    color: var(--graytext);
}
.trend_for_you_trend_name {
    font-size: 15px;
    color: #14171a;    
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 2px;
}
.rightsidebar_input {
    display: flex;
    align-items: center;
    background: #f5f8fa;
    padding: 10px;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 15px;
  }
  
.rightsidebar_input input {
    border: none;
    background-color: #f5f8fa;
}
  
.rightsidebar_searchIcon {
    color: gray;
}
.who_to_follow{
    background: #f5f8fa;
    border-radius: 15px;
}
.who_to_follow_block{
    padding: 10px 15px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e6ecf0;
}
.who_to_follow_block:last-child{
   border-bottom: none;
}
.who_to_follow_heading{
    font-size: 19px;
    font-weight: bold;
    color: #14171a;
}
.who_to_follow_author_logo{
    width: 49px;
    height: 49px;
    border-radius: 50px;
    margin-right: 10px;

}
.who_to_follow_author_name{
    font-size: 15px;
    font-weight: bold;
}
.who_to_follow_author_slug{
    color: var(--graytext);
    font-size: 15px;
}
.who_to_follow_content{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.who_to_follow_button{
    border: 1px solid var(--blue);
    color: var(--blue);
    font-size: 15px;
    font-weight: bold;
    border-radius: 15px;
    min-width: 67px;
    height: 30px;
    text-align: center;
}
.who_to_follow_button:hover{
    background: rgba(29, 161, 242, 0.1);
   cursor: pointer;
}

